@charset "utf-8";
/* CSS Document */
.teacher_center{
	 /* height:3600px; */
	 width:1210px;
	 margin-top:10px;
	}
.teachers_a{
	margin: 10px 0px 0px 5px;
	position:relative;
	height: 300px;
	cursor: pointer;
	}
.teachers_a .detail {
	position: relative;
	right: 30px;
	float: right;
}
.ta{
		overflow: hidden;
		text-overflow: ellipsis;
		border-radius:120px;
		float:left;
        width:240px; height:240px;
}
/*.ta img {*/
	/*width: 500px;*/
	/*height: 500px;*/

/*}*/
.teachers_a h1{
		float:left;
	font-size:38px;
	font-weight: bold;
}
.teachers_a p{
	font-family:"微软雅黑";
	line-height:25px;
	margin:110px 0px 0px -60px;
	float:left;
	width:800px;
	text-indent: 32px;
	}
